<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Admin Seite</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    {% for u in users %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td>{{u.birthdate}}</td>
            <td>{{u.email}}</td>
            <td>{{u.password}}</td>
            <td>{{u.role}}</td>
        </tr>
    {%endfor%}
</table>

</body>
</html>




