<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/archivinfo.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
<head>
    <meta charset="UTF-8">

</head>


  <nav>
        <ul1>
            <li><a href="/">Startseite</a></li>
            <li><a href="subArchiv">Das Subarchiv</a></li>
        </ul1>
        <ul>
            <li1><a href="/login">LoginSeite</a></li1>
            <li1><a href="/register">RegistrationSeite</a></li1>
            <li1><a href="/allUsers">Alle Userdaten</a></li1>
       </ul>
    </nav>

<body>
<input type="button" value="Back" onClick="javascript:history.back()">





<form class="box">

    <h1> Archivinfo</h1>

    <h2>Über das Archiv</h2>
<p> ARCHIVE-IT ist ein Rechercheprojekt zur Alternativ-, Sub- und Gegenkultur Innsbrucks, mit dem Ziel ein Onlinearchiv zu errichten.
    Das Archiv startete 2014 als stadt_potenziale Projekt von Albi Dornauer und Maurice Kumar
    Unser Fokus liegt (vorerst) auf Orte, Zeitungen, Vereine, Initiativen und Musiker_innen,
    die die Innsbrucker Zustände nicht einfach so hinnehmen, sondern diese aktiv ändern wollten,
    um eine Alternative zur alltäglichen Realität zu schaffen.
    Wie die einzelnen Ergebnisse schlussendlich kategorisiert werden – als Sub-,
    Gegen- oder Popkultur – ist uns nicht so wichtig, wie die Dokumentation jener Ereignisse und Menschen,
    die eine andere Geschichte der Stadt Innsbruck ermöglichen. </p>

<p>ARCHIVE-IT ist ein offenes Projekt und versteht sich nicht als ein „elitäres Grüppchen“, das es besser weiß.
    Das heißt, interessierte Menschen, die mitmachen wollen, können sich gern bei uns melden. Wenn jemand das Gefühl hat,
    dass wichtige Perspektiven fehlen, Orte, Bands oder sonstiges nicht erwähnt sind, etwas nicht richtig dargestellt ist
    oder eine Person es einfach besser weiß, dann laden wir Dich ein, uns zu kontaktieren, um das zu ändern. </p>

<p>Menschen, die Materialien besitzen, können sich ebenfalls gern bei uns melden.
    Falls Ihr Informationen, Flyers, Plakate, Platten, Kassetten, Magnetbänder, Fotos,
    Zeitungsartikel oder sonstiges Material besitzt bzw. Personen kennt oder glaubt, selbst einen
    wertvollen Beitrag leisten zu können, würden wir uns freuen, wenn Ihr Euch bei uns meldet und Leerstellen im Archiv füllt. </p>

    <h3> Was ist Subkutur?</h3>

    <p>
        Der Name dieses Projekts lautet "subkulturarchiv innsbruck". Das Wort Subkultur in Zusammenhang mit dem Archiv versteht sich vor
        allem als Arbeitsbegriff. Wir orientieren uns an verschiedenen Szenen und deren Orte, die sich seit den fünfziger
        Jahren herausgebildet haben. Orte die erkämpft wurden mit dem Ziel, eine Kultur zu schaffen, die nicht bürgerlich,
        konservativ bis reaktionär ist, sondern eine Alternative zur alltäglichen Realität bieten soll. Viele Kulturschaffende
        haben seit damals versucht, den herrschenden Verhältnissen etwas entgegenzusetzen, um klar zu machen, dass es auch immer
        anders geht. Der Begriff der Subkultur ist eine Möglichkeit diese alternative Realität mit einem Konzept zu fassen.
        Subkultur markiert einen Wechsel, einen Übergang von etwas Altem zu etwas Neuem. Das Wort „Sub“ in der Kultur wird
        traditionell verwendet um Gruppen zu benennen, die gemeinsames teilen und Teil einer konkreten Gesellschaft sind,
        die sich in ihren: <br>
        „Institutionen, Bräuchen, Werkzeugen, Normen, Wertordnungssystemen, Präferenzen, Bedürfnissen usw. in
        einem wesentlichen Ausmaß von den herrschenden Institutionen etc.
        der jeweiligen Gesamtgesellschaft unterscheidet." (Schwendter 1993:11)
    </p>


    <p>

Der französische Soziologe Pierre Bourdieu verstand darunter noch mehr. Für ihn ist Wort „Sub" in Verbindung mit Kultur nicht
    nur eine Trennung zwischen dem Alten und dem Neuen sondern auch zwischen dem Bewährten und dem Revolutionären,
    dass sich nach eigenen Räumen sehnt und begleitet ist von gesellschaftlichen Distinktionskämpfen, anders zu sein.
    </p>

    <p>
        Trotzdem bleibt ein bitterer Beigeschmack bei der Subkultur. Denn im Verständnis von Subkultur sind all jene Gruppen untergeordnet,
        die sich von der hegemonialen Kultur abgrenzen. Darunter fallen sowohl ethnische, religiöse Gruppe sowie Jugendkulturen.
        Das Konzept der Subkultur gilt heute als überholtes analytisches Konzept. Als Begriff muss es kritisch betrachtet werden,
        denn das Wort „Sub“ bedeutet soviel wie „unten“. Wo ein unten da ein herrschendes oben und daher kann dieses „Sub“ nur
        relational und in Abhängigkeit zu einer herrschenden Ordnung gedacht werden. Schon Hermann Tertilt kritisiert 1996 in
        seiner Ethnographie Turkish Power Boys den Subkulturbegriff. Problematisch sieht er die unscharfe Beziehung zwischen Gesamt-
        #und Teilkultur und die abwertende Bedeutung, die diesen analytischen Begriff als Klassifizierungsmodell abweichenden
        Verhalten anhafte und überhaupt die Individuen in dieser Kultur zu verorten (Vgl. Tertilt 1996:173).
        In den Kulturwissenschaften - hier vor allem federführend die Postcolonial Studies -
        wird das Konzept ebenso als problematisch gesehen.
    </p>


    <p>

        Die postkoloniale Theoretikerin Rupa Huq betont:„subculture has in many ways come of age" (Huq 2007:9). Sie kritisiert,
        dass Subkultur ein weißes, heterosexuelles, männliches Konzept ist, das vorwiegend männliche Räume untersucht und Frauen
        als Nebendarstellerin porträtiert. Als Beispiel führt sie Untersuchungen zur Skinhead und Punkkultur an, wo Frauen genauso
        gegen herrschende Vorstellungen rebellierten,„Female skinhead and punks may, she claims, be rebelling against the mainstream
        culture of femininity." Doch in den Untersuchungen werden vor allem männliche Positionen beschrieben,
        „but within the subculture itself traditional gender divisions are still in place“ (Huq 2007:9f.).
        Frauen werden durch die Sichtweise der Männer gezeigt. Es braucht einen Kulturbegriff, der die Praktiken
        der Gruppe nicht als Abweichung einer herrschenden Ordnung konstruiert, sondern die Akteur_innen als eigenständige
        Individuen darstellt und sie nicht mit herrschender Kultur vergleicht. Die in unserer Recherchearbeit beschriebenen
        Menschen, Orte und Szenen stehen nicht unten und auch nicht oben, sondern gleichwertig mit den vorherrschenden bzw.
        dominanten kulturellen Positionen und waren vor allem immer in gegenseitigem Austausch.

    </p>


    <p>

        Unser Ziel ist eine andere Geschichte der Stadt Innsbruck darzustellen, die nicht unterhalb oder abseits der
        „wahren“ Geschichte passierte, sondern jene Szenen und Orte, die das heutige Innsbruck stark mitgeprägt haben,
        festzuhalten. Dank dem Engagement von zahlreichen Personen und Initiativen hat sich eine durchaus beachtliche
        Szene entwickelt, die den Zustand der Provinz nicht einfach hinnehmen, sondern aktiv ändern wollte und immer noch tut.
    </p>



</form>
</body>
</html>