<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content hinzufügen</title>
</head>
<body>
    <h1>Das Subarchiv</h1>

    {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
    {% endfor %}

    <form method="POST" action="" enctype="multipart/form-data">
        <label for="title">Title</label>
        <br>

        <input type="text" name="title" placeholder="Content title"
               value="{{ request.form['title'] }}">
        <br>

        <label for="site">Site</label>
        <br>

        <input type="text" name="site"
               placeholder="Content site"
               value="{{ request.form['site'] }}"></input>
        <br>

        <label for="title">File</label>
        <br>

        <input type="file" name="file"
               placeholder="Content file"
               value="{{ request.form['file'] }}" accept=".pdf" multiple>
        <br>


        <button type="submit">Submit</button>
    </form>


</body>
</html>