<!DOCTYPE html>
<html lang="en" style = "height: 100vh">

 <link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>


     <nav>
        <ul class="ul1">
            <li><a href="/">Startseite</a></li>
            <li><a href="suche">Das Subarchiv</a></li>
        </ul>
        <ul>
            {% if session["loggedIn"] == 0 %}
            <li><a href="/login">LoginSeite</a></li>
            <li class="li1"><a href="/register">RegistrationSeite</a></li>
            {% else %}
            <li><a href="/suche">Logout</a></li>
            <li><a href="admin">Admin</a></li>
            {% endif %}
        </ul>
     </nav>

<body>


<form class="box">

<h1> Credits</h1>

    <h2> autor_innen / credits des projektes archive-it </h2>

    <p>
        Albrecht Dornauer ist jahrelanger Musikveranstalter in Innsbruck u.a. lange Zeit mit dem
        Kulturverein NLK (Hiphop/Electronica/Folk). Er ist Mitbegründer und war beim Aufbau des
        Veranstaltungsortes p.m.k. (Plattform Mobile Kulturinitiativen) beteiligt. Bekannt ist er
        als Musikjournalist für lokale Medien wie Straßenzeitung 20er und Kulturzeitung MOLE
        (auch Mitbegründer der MOLE). Von 2007-2011 war er Artist in Resident im Künstlerhaus
        Büchsenhausen. An der Uni Wien absolvierte er 2007 einen Kulturmanagement Lehrgang.
        Von 2004-2009 war er TKI Vorstandsmitglied. Seine Leidenschaft gilt dem Vinyl als DJ,
        Plattensammler und Musikarchäologe. Gemeinsam mit Maurice Kumar ist er Initiator des Projekts
        Archive-IT/www.subkulturarchiv.at. Seine Schwerpunkte sind Bands und Musiker_innen der Pop-
        und Subkultur der Stadt Innsbruck bzw.Tirols.

    </p>

    <p>
        Maurice Munisch Kumar ist Sozial- und Kulturarbeiter, freier Autor und Lektor am MCI.
        In Moment tätig im Kulturkollektiv Contrapunkt, p.m.k. ((Plattform Mobile Kulturinitiativen),
        Schulsozialabeit Tirol, Vorstandsmitglied bei der TKI (Tiroler Kulturiniative) und Subkulturarchiv
        Innsbruck. Er studierte Soziale Arbeit, Soziologie und Europäische Ethnologie.
        Gemeinsam mit Albrecht Dornauer ist er Initiator des Projekts Archive-IT/www.subkulturarchiv.at.
        Seine Schwerpunkte sind alternative Kulturräume, Gegenliteratur und Kollektive/Vereine der freien Szene.
    </p>

    <p>
        Milena Meller arbeitet seit den 1990er Jahren an der Schnittstelle von Malerei
        und Fotografie und lebt als freischaffende Künstlerin in der Nähe von Innsbruck.
        Als ausgebildete Musikwissenschaftlerin hat sie zahlreiche Texte zu Neuer Musik,
        Kunst und Kultur veröffentlicht. Als Musikerin tritt sie gelegentlich im Bereich
        Improvisation auf. In ihrer künstlerischen Arbeit, die sie in etlichen Ausstellungen
        in Österreich sowie in Italien präsentiert hat, untersucht sie das Verhältnis der Medien
        Malerei und Fotografie häufig anhand der Reflexion auf einen spezifischen Ort sowie auf
        filmische oder kartografische Bilderwelten.Für das Projekt Archive-IT/www.subkulturarchiv.at
        hat sie einen Beitrag zu den Jugendkulturwochen verfasst.
    </p>

    <p>
        Christine Federspiel-Heger ist Bibliothekarin (Universitäts- und Landesbibliothek Tirol),
        Chronistin und Muskerin, seit 2002 auch als Liedermacherin Christine Bardie in Tirol bekannt.
        Ab den 1980er Jahren war sie u.a. als Mitglied der Jazzszene aktiv. Ihre Quellenstudie zum Jazz
        in Tirol ist eine erste umfassende Chronologie zur Tiroler Jazzgeschichte und nachzulesen in:
        Musikgeschichte Tirols, Band 3 (20. Jahrhundert( / hrsg.: Kurt Drexel, Monika Fink, Wagner,
        Innsbruck, 2008). Sie ist Mitautorin des neuen Zirler Heimatbuches (Zirl Heimat, hrsg.:
        7Markgemeinde Zirl, 2016). Als Liedermacherin produzierte sie zwei Soloalben
        (Mamage, 2002; Weihnachtn, 212) und ist als Sängerin, Gitarristin, Komponistin und Autorin an
        mehreren Tonträgerproduktionen und Bandprojekten in Tirol beteiligt.
        Für das Projekt innsbruck.subkulturarchiv.at hat sie Beiträge zum Uptown
        Jazzsaloon und Jazzclub verfasst.
    </p>

    <p>
        Andrea Urthaler, AFLZ Aktivistin. Für das Projekt innsbruck.subkulturarchiv.at
        hat sie den Text zum Autonomen FrauenLesben Zentrum verfasst.
    </p>

    <p>
        Marcel Amoser ist Dissertant am Institut für Zeitgeschichte in Innsbruck und arbeitet
        am Aufbau des Dokumentationsarchivs Migration Tirol (DAM) des Zentrums für MigrantInnen
        in Tirol (ZeMiT). Er studierte Geschichte, Soziologie und „Gender, Kultur und sozialer
        Wandel“ in Innsbruck. Seine derzeitigen Arbeitsschwerpunkte liegen in den Bereichen,
        Migration, Intersektionalität, soziale Bewegungen und Metal Studies. Für das Subkulturarchiv
        hat er einen Beitrag zum Aktionszentrum Focus verfasst.
    </p>

    <p>
        Wir möchten uns bei jenen Menschen bedanken die uns mit persönlichen Erzählungen,
        lustigen Anekdoten, wichtigen Informationen, ihren Recherchen, ihrer Zeit, alten Fotos,
        schönen Flyern und Plakaten sowie Zuspruch für das Projekt unterstützt haben!
    </p>

    <p>
        (Personen in alphabetischer Reihenfolge und noch nicht vollständig)
    </p>


    <p>
        Aichner Christine <br>
Aschenwald Erwin<br>
Barwick Justin <br>
Becke Dieter <br>
Bergmann Thomas<br>
Berner Karin<br>
Bieber Norbert<br>
Bielowski Lies<br>
Bodhansky Helmut (Captian Book)<br>
Büchele Agnes<br>
Burmann Horst<br>
Burtscher Wolfgang<br>
Carli Michael<br>
Delago Hermann<br>
Drexel Kurt<br>
Drexel Margit<br>
Egger Stefan<br>
Engelmann Robert<br>
Ennemoser Robert<br>
Fechner Heinz<br>
Federspiel-Heger Christine<br>
Fürthinger Christian<br>
Galuschka Herbert<br>
Gasser Hans<br>
Golling Karl<br>
Gostner Karl<br>
Gollreiter Martin<br>
Gostner Astrid<br>
Göritzer-Schwaighofer Maria<br>
Gressenberger Walter<br>
Hackl Wolfgang<br>
Haigermoser Norbert<br>
Hampl Jochen<br>
Hauser Andreas<br>
Herran Kurt<br>
Hiltpold Christian<br>
Höckner Gerhard<br>
Hofinger Niko<br>
Höretzeder Kurt<br>
Hörtnagl Holger<br>
Horvath Otto<br>
Hupfauf Bernd<br>
Kapavik Evi<br>
Koder Ernst<br>
Kofler Christa<br>
Klingseis Michael<br>
Klug Franz<br>
Larcher Hermann<br>
Lechle Rudi<br>
Leitner Stefan<br>
Lettner Andreas<br>
Lukanc Andreas<br>
Klingseis Michael<br>
Koubek Christian<br>
Kovatsch Gerhard<br>
Kröper Henner<br>
Kugler Angelika<br>
Metzler Walter<br>
Mayr Andreas<br>
Mayr Maria-Luise<br>
Magreiter Christine<br>
Mayrhofer Helmut<br>
Melcher Friedrich<br>
Metzler Walter<br>
Mischi Gottfried<br>
Moebius Werner<br>
Morscher Lukas<br>
Moser Marina<br>
Mössmer Peter<br>
Nicolussi Nico<br>
Niederwolfsgruber Christian<br>
Peer Daniela<br>
Oberhuber Max<br>
Oberlechner Gebhard<br>
Onay Mesut<br>
Parth Walter<br>
Pechtl Gudrun<br>
Perwein Claudia<br>
Platzgumer Hans<br>
Pleifer Norbert<br>
Pöschl Christine<br>
Pöschl Reinhard<br>
Prinz Reinhard<br>
Puffinger Michael<br>
Raithmayr Birgit<br>
Rauch Maria<br>
Renk Robert<br>
Sanders Gregor<br>
Schaber Elmar<br>
Schütz Adi<br>
Schmid Ernie<br>
Schönwiese Volker<br>
Scoz Peter<br>
Schatz Gebhard<br>
Schellhorn Herbert<br>
Schönegger-Klingseis Martina<br>
Span Hermine<br>
Springhetti Luca<br>
Soier Georg<br>
Stöckl Hermann<br>
Stornig Thomas<br>
Trawöger Christian<br>
Uhl Dominik<br>
Waldner Helmut<br>
Wallnöfer Adelina<br>
Warum Peter<br>
Wazac Martin<br>
Weber Edu<br>
Wechselberger Anton<br>
Weiler-Auer Hubert<br>
Weiler Markus<br>
Weitenbacher Angie<br>
Wind Evelyn<br>
Windischer Jussuf<br>
Winkler Kenneth<br>
Wolf Mathias<br>
Zingl Dietmar<br>
    </p>

    <p>
        und folgenden Personen, Institutionen, Vereinen und Einrichtungen:

    </p>

    <p>

        Der Stadt Innsbruck für die stadt_potenziale Förderung 2014<br>
Cunst&co für die Zurverfügungstellung von Infrastruktur und Lagerraum.<br>
Die Kulturbackstube Die Bäckerei (hier besonders Prieth David)<br>
Jugendzentrum Z6 (hier besonders Oblasser Elfi)<br>
Dem Weekender für das überlassen der  Fundstücke aus der Utopiazeit
Das Institut für Zeitgeschichte sowie das Institut für Geschichtswissenschaften/Europäische Ethnologie der LFU Innsbruck für den Workshop „Rock the Archive!“ (hier besonders Rupnow Dirk)<br>
Dem Forschungsschwerpunkt Kulturelle Kulturelle Begegnungen- Kulturelle Konflikte für die Förderung des Workshops „Rock the Archive“<br>
Jarosch Daniel und Pertl Christa für die Fotoarbeiten<br>
Den Verein Workstation für ihre gesamten Aufzeichnungen<br>
Al Bird Sputnik und Trash Rock Archives für bereits recherchierte Informationen<br>
Steirisches Rockarchiv<br>
Die Zeitschrift Westpoint und zugehörigem RockLex<br>
Dem Stadtarchiv Innsbruck für die Unterstützung während der ganzen Recherche- und Aufbauzeit des Archivs,  bei der Ermöglichung der Ausstellung „Wir//Hier - Die sogenannte Subkultur“ (hier besonders Ursprunger Renate sowie Morscher Lukas) sowie für das zur Verfügung stellen von Recherchematerial.<br>
Der Landesbibliothek im Ferdinandeum für die Programmhefte und Zeitungsartikel (hier besonders Sila Roland).<br>
Großen Dank gilt Stillebacher Teresa, die uns als Gestalterin und Architektin der wunderbaren Ausstellung „Wir//Hier - Die sogenannte Subkultur“ im Stadtarchiv unterstützte, sowie Rath und Winkler bei der Beratung (hier besonders Gander Robert).<br>
    </p>






  </form>
</body>
</html>
