<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artikel {{name}}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/getImage.css') }}">
</head>
<body>
    <div class="content">
        <a href="{{ url_for('getSearch', keyword=name) }}"> Back</a>
        <button type="reset" onclick="resetImg()" name="reset" value="Reset Size">Reset Size</button>
        <form method="post">
            <button type="submit" name="switchTo" value="Switch content">Switch Content</button><br>
        </form>
        </div>
        {% if session.getImageContent == "image" %}
          <div class="ImageContainer">
            <div class="zoom_outer">
                <div id="zoom">

                        <img id="shownImg" class="img" width="50%" height="50%" src="{{ url_for('get_file', path=url) }}">
                    </div>
                </div>
            </div>
        <div class="scrollContainer">
            <div class="scrollmenu">
            {% for file in arrAllFiles %}
                 <a href="{{ url_for('getImage', url=file.url, string=name) }}">
                    <img class="img" width="100%" height="100%"
                         src="{{ url_for('get_file',path=file.thumb) }}">
                 </a>
            {% endfor %}
            </div>
        </div>
        <br>
        {% else %}
            <pre class="content">{{ text_content }}</pre>
        {% endif %}

</body>

<script>
    // Der Quellcode für die Zoomfunktion wurde von Stackfindover übernommen und entsprechend erweitert
    // URL: https://dev.to/stackfindover/zoom-image-point-with-mouse-wheel-11n3
      var scale = 1,
        panning = false,
        pointX = 0,
        pointY = 0,
        start = { x: 0, y: 0 },
        zoom = document.getElementById("zoom");

      function setTransform() {
        zoom.style.transform = "translate(" + pointX + "px, " + pointY + "px) scale(" + scale + ")";
      }
      function resetImg() {
        shownImg = document.getElementById("zoom");
        shownImg.style.transform = "translate( 0px, 0px) scale(1)";
        scale = 1;
        panning = false;
        pointX = 0;
        pointY = 0;
        start = { x: 0, y: 0 };
      }

      zoom.onmousedown = function (e) {
        e.preventDefault();
        start = { x: e.clientX - pointX, y: e.clientY - pointY };
        panning = true;
      }

      zoom.onmouseup = function (e) {
        panning = false;
      }

      zoom.onmousemove = function (e) {
        e.preventDefault();
        if (!panning) {
          return;
        }
        pointX = (e.clientX - start.x);
        pointY = (e.clientY - start.y);
        setTransform();
      }

      zoom.onwheel = function (e) {
        e.preventDefault();
        var xs = (e.clientX - pointX) / scale,
          ys = (e.clientY - pointY) / scale,
          delta = (e.wheelDelta ? e.wheelDelta : -e.deltaY);
        (delta > 0) ? (scale *= 1.2) : (scale /= 1.2);
        pointX = e.clientX - xs * scale;
        pointY = e.clientY - ys * scale;

        setTransform();
      }
 </script>

</html>

