<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>


<body>

<h1> Login </h1>

<form class="box" asp-controller="user" asp-action="login" method="post">


    <label asp-for="EMail">
        <p> EMail  </p>
    </label>
    <input type="text" asp-for="EMail"/>
    <span asp-validation-for="EMail"></span>



    <label asp-for="Password">
        <p>  Passwort</p>
    </label>
    <input type="password" asp-for="Password"/>
    <span asp-validation-for="Password"></span>



    <label>
        <input type="submit" value="absenden" />
    </label>



    <input type="button" value="Back" onClick="javascript:history.back()"> </br>

    <a class ="link" href="{{url_for('register')}}">Sie haben noch keinen Account? Registrieren Sie sich nun hier.</a>


</form>

</body>
</html>
