<!DOCTYPE html>
<html lang="en" style = "height: 100vh">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

    <nav>
        <ul class="ul1">
            <li><a href="/">Startseite</a></li>
            <li><a href="suche">Das Subarchiv</a></li>
        </ul>
        <ul>
            {% if session["loggedIn"] == 0 %}
            <li><a href="/login">LoginSeite</a></li>
            <li class="li1"><a href="/register">RegistrationSeite</a></li>
            {% else %}
            <li><a href="/suche">Logout</a></li>
            {% endif %}
            <li><a href="admin">Admin</a></li>
       </ul>
    </nav>

<body>



<!--suppress SyntaxError -->
<form class="box" action="#" method="post">

    <h1> Login </h1>


    <p>E-Mail</p>
    <input type="text" name="email" value = {{ email }}/>


    <p>Passwort</p>
    <input type="password" name="password" value = {{ password }}/> <br>


    <input type="submit" value="submit" /> <br> <br>


    <!-- <input type="button" value="Back" onClick="javascript:history.back()"> </br> -->


    <a class ="link" href="{{url_for('register')}}">Sie haben noch keinen Account? Registrieren Sie sich nun hier.</a>


</form>

</body>
</html>
