<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login </h1>


     <p class="login">
        <label asp-for="EMail">
            EMail
        </label>
        <input type="email" asp-for="EMail" />
        <span asp-validation-for="EMail"></span>
    </p>


     <p class="login">

        <label asp-for="Password">
            Passwort
        </label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>

    <label>
            <input type="submit" value="absenden" /> <br> </br>

        </label>


    <input type="button" value="Back" onClick="javascript:history.back()"> <br></br>
<a href="{{url_for('register')}}" >Du hast noch keinen Account? Registrieren</a>
</body>

</html>
