<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

<h1>Registration</h1>

<form class="box" action="#" method="post">

    <p>Vorname</p>
    <input type="text" name="firstname"/>

    <p>Nachname</p>
    <input type="text" name="lastname"/>

    <p>EMail</p>
    <input type="text" name="email"/>

    <p>Passwort</p>
    <input type="password" name="password"/>

    <p>Geburtsdatum</p>
    <input type="date" name="birthdate"/> </br>


    <input type="submit" value="submit"/> </br> </br>

    <!-- <input type="button" value="Back" onClick="javascript:history.back()"> </br> </br> -->


    <a class ="link" href="{{url_for('login')}}">Sie haben bereits einen Account? Loggen Sie sich hier ein.</a>



</form>

</body>
</html>