<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>


<head>
    <meta charset="UTF-8">
    <title>Subkulturarchiv Innsbruck</title>
</head>
<body class="module">
    <!-- Creating a canvas element in HTML-->

    <div>
        <div class="background title"></div>

        <canvas class="title" id="canv" width="1160" height="355"></canvas>
    </div>

    <div class="text">
             <p > <span class="para1"> Das Online-Rechercheprojekt zur Alternativ-, Sub- und Gegenkultur </span><br>
                 <span class="para2"> Innsbrucks im Zeitraum von 1955 bis 2000.</span>
             </p>
        </div>

    <!--
        <div class="text" contenteditable="false">
             <p class="goo"> Das Online-Rechercheprojekt zur Alternativ-, Sub- und Gegenkultur <br>
                 Innsbrucks im Zeitraum von 1955 bis 2000.
             </p>
        </div>

    Filter: https://css-tricks.com/gooey-effect/
    <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
            </filter>
        </defs>
    </svg>
    -->
    <div style="text-align: center;">
        <a href="{{url_for('subArchiv')}}" target="_blank">Zum Archiv</a>
        <a href="{{url_for('login')}}" >Login</a>
        <a href="{{url_for('register')}}" >Register</a>
    </div>
    <!--<div class='semi-circle'></div>
    <div class="drei" style=""></div>-->


    <!--<svg viewBox="0 0 130 130">

        <path id="MyPath" fill="none" stroke="lightblue"
        d="m10,45c53,-43 96,3 96,3" />

    <text><textPath href="#MyPath">CURVE ME!</textPath></text>

    </svg> -->
    <script>

        /*The window.onload function will run as
        soon as the window loads in the browser */
        window.onload = function () {

            /* This method returns the html element that
                has the ID attribute with the specified
                value. */
            let canvas = document.getElementById("canv");

            /* This method returns a drawing context
                on the canvas, or null if the context
                identified is not supported. */
            let context = canvas.getContext("2d");

            /* It will change the style and appearance
                of the text to make it look more geeky. */
            context.font = "75px Abril Fatface";
            context.fillStyle = "#D0DD4B";
            context.textAlign = "center";

            let string = "Subkulturarchiv Innsbruck";


            let angle = Math.PI * 0.52; // in radians
            let radius = 680;


            context.translate(600, 770);
            context.rotate(-1 * angle / 2);

            for (let i = 0; i < string.length; i++) {

                /* It is worth noting that we are not
                    rotating the text,here the whole
                    context is being rotated and
                    translated, and the letters are just
                    filled in it. */
                context.rotate(angle / string.length);
                context.save();
                context.translate(0, -1 * radius);
                context.fillText(string[i], 0, 0);
                context.restore();
            }
        };
    </script>
</body>
</html>