<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/subArchiv.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>


<head>
    <meta charset="UTF-8">


</head>

 <nav>
        <ul1>
            <li><a href="/">Startseite</a></li>
            <li><a href="subArchiv">Das Subarchiv</a></li>
        </ul1>
        <ul>
            <li1><a href="/login">LoginSeite</a></li1>
            <li1><a href="/register">RegistrationSeite</a></li1>
            <li1><a href="/allUsers">Alle Userdaten</a></li1>
       </ul>
    </nav>


 <nav2>

     <ul>
            <li2><a href="/archivinfo">Archivinfo</a></li2>
            <li2><a href= 'https://www.facebook.com/Subkulturarchiv.Innsbruck/'>Facebook</a></li2>
            <li2><a href='https://www.youtube.com/channel/UCnNLHacqMvtODQWXMWfZKWA'>Youtube</a></li2>
            <li2><a href='https://www.instagram.com/subkulturarchiv_innsbruck/'>Instagram</a></li2>
            <li2><a href="/credits">Credits</a></li2>
       </ul>
    </nav2>

<body>

    <h1>Das subArchiv</h1>


</body>

</html>