<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/subArchiv.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>


<head>
    <meta charset="UTF-8">


</head>

 <nav>
        <ul1>
            <li><a href="/">Startseite</a></li>
            <li><a href="subArchiv">Das Subarchiv</a></li>
        </ul1>
        <ul>
            <li1><a href="/login">LoginSeite</a></li1>
            <li1><a href="/register">RegistrationSeite</a></li1>
            <li1><a href="/allUsers">Alle Userdaten</a></li1>
       </ul>
    </nav>
<body>

    <h1>Das subArchiv</h1>


<p>Liste der Orte:</p>





</body>
</html>