<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Subkulturarchiv Innsbruck</title>
</head>
<body>
    <div style="text-align: center; padding-top: 250px;
                font-size: 55px; color: black;">
        <span class="S">S</span>
        <span class="u1">u</span>
        <span class="b1">b</span>
        <span class="k1">k</span>
        <span class="u2">u</span>
        <span class="l">l</span>
        <span class="t">t</span>
        <span class="u2">u</span>
        <span class="r1">r</span>
        <span class="a">a</span>
        <span class="r2">r</span>
        <span class="c">c</span>
        <span class="h">h</span>
        <span class="i">i</span>
        <span class="v">v</span>

        <span class="I">I</span>
        <span class="n1">n</span>
        <span class="n2">n</span>
        <span class="s">s</span>
        <span class="b2">b</span>
        <span class="r3">r</span>
        <span class="u3">u</span>
        <span class="c">c</span>
        <span class="k2">k</span>
    </div>
</body>
</html>