.S {
    transform: translate(20px, 85px) rotate(-24deg);
}

.u1 {
    transform: translate(13px, 60px) rotate(-22deg);
}

.b1 {
    transform: translate(6px, 40px) rotate(-20deg);
}

.k {
    transform: translate(3px, 23px) rotate(-18deg);
}

.u2 {
    transform: translate(2px, 14px) rotate(-16deg);
}

.l {
    transform: translate(1px, 8px) rotate(-14deg);
}

.t {
    transform: translate(0px, 5px) rotate(-12deg);
}

.u3 {
    transform: translate(-1px, 8px) rotate(-10deg);
}

.r1 {
    transform: translate(-2px, 14px) rotate(-8deg);
}

.a {
    transform: translate(-3px, 25px) rotate(-6deg);
}

.r2 {
    transform: translate(-3px, 25px) rotate(-4deg);
}

.c1 {
    transform: translate(1px, 5px) rotate(-2deg);
}

.h {
    transform: translate(-1px, 5px) rotate(2deg);
}

.i {
    transform: translate(-3px, 25px) rotate(4deg);
}

.v {
    transform: translate(-3px, 25px) rotate(6deg);
}


.I {
    transform: translate(-3px, 25px) rotate(8deg);
}

.n1 {
    transform: translate(-3px, 25px) rotate(10deg);
}

.n2 {
    transform: translate(-3px, 25px) rotate(12deg);
}

.s {
    transform: translate(-3px, 25px) rotate(14deg);
}

.b2 {
    transform: translate(-3px, 25px) rotate(16deg);
}

.r3 {
    transform: translate(-3px, 25px) rotate(18deg);
}

.u4 {
    transform: translate(-3px, 25px) rotate(20deg);
}

.c2 {
    transform: translate(-3px, 25px) rotate(22deg);
}

.k {
    transform: translate(-3px, 25px) rotate(24deg);
}


span {
    display: inline-block;
}