body {
    margin:0px;
    background: url('http://127.0.0.1:5252/static/multimedia/innsbruck.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;
    height: 100%;
    position: relative;
}


h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 4000;
    text-align: center;
    font-size:60pt;

}


p {
    text-align: center;
    color: white;
    font-size:25pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


input[type = "text"], input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size:15pt;
}


input[type = "text"]:focus, input[type = "password"]:focus {
    width: 280px;
    border-color: blue;
}


input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size:15pt;
}


input[type = "button"] {
    border: 0;
    background: none;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size:15pt;
}


.link {
    color: white;
    text-align: center;
    margin: auto;
    display: block;
}


.box {
    width: 600px;
    padding: 100px;
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    background: black;
    opacity: 0.9;
    text-align:center;

}


nav {
height: 90px;
width: 100%;
background-color: #969f3a;


box-shadow: 0px 2px 4px rgba(0,0,0.144);
}

nav ul {

float: right;
}

nav li1 {
 display: inline-block;
 margin-top: 15px;
 margin-right: 40px;

}

nav li1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;

}
nav li {
 display: inline-block;
 margin-top: 30px;
 margin-right: 40px;

}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;

}

