.first {
    width: 0px;
}

.second {
    width: 180px;
}

.img {
    width: 100%;
}

.spalte {
    heigt:220px;
}

.titel {
     font-size: large;
    font-weight: bold;
    vertical-align: top;
    padding-top: 40px!important;
}

label {
    visibility: hidden;
}

.lblSuche {
    visibility: visible;
}


*{
    margin: 0;
    padding: 0;
}

hmtl{
    height: 100%
}

body{
     margin:0px;
    background: url('http://127.0.0.1:5000/static/multimedia/start.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;

}