body {
    margin:0px;
    background: url('http://127.0.0.1:5000/static/multimedia/start.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;

}


#canv {
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-2deg);
}


.background {
    position: absolute;
    top: 19px;
    left: 21px;
    rigth: 50px;
    width: 980px;
    height: 198px;
    border: solid 120px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/400px 412px 0 0;
    border-top-color: #343909;
    opacity: 0.8;
}

.semi-circle {
    margin-left: 29.1px;
    margin-top: 26px;
    width: 125px;
    height: 52px;
    background-color: #343909;
    opacity: 0.75;
    border-radius: 10rem 10rem 0 0;
    transform: rotate(190deg);
}

.drei {
    margin-left: 51.9px;
    margin-top: -167.9px;
    width: 1px;
    height: 1px;
    border-top: 121px solid transparent;
    border-right: 91px solid transparent;
    border-right: 93px solid transparent;
    border-left: 20px solid #343909;
    opacity: 0.79;
    transform: rotate(280deg);
}

