Pillow~=9.1.1
pytesseract==0.3.9
elementpath~=2.5.3
pysolr~=3.9.0
lxml~=4.8.0
Flask~=2.2.2
Werkzeug~=2.2.2
WTForms==3.0.1
cryptography~=36.0.1
requests~=2.22.0
Django~=4.0.5
pathlib~=1.0.1
fitz~=0.0.1.dev2